


.input {
    max-width: 190px;
    display: none;
    
  }
  
  .labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 190px;
    border: 2px dashed #ccc;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #404040;
    cursor: pointer;
    margin-left: 35%;
    margin-top: 5%;
  }
  